{% extends 'layout.html' %}
{% block title %}
Sign Up
{% endblock %}
    {% block style %}
    <style>
    p{
      color: red;
      background-color: #e9e9e9;
      margin-left: 15%;
      text-align: center;
      width: 350px;
      margin-top: 5px;
    }
    </style>

    {% endblock %}


          {% block h2 %}Please Register{% endblock %}

          {% block content %}
            <form class="form" action='{{ url_for("register") }}' method="post">
              <div class="form_element">
                <input class="form_input" type="text" name="username" placeholder="Username" >
              </div>
              <div class="form_element">
                <input type="password" name="password" class="form_input" placeholder="Password">
              </div>

            <div class="form_element">
              <input type="password" name="retype" class="form_input" placeholder="Retype Password">
            </div>
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
              <button type="submit" name="button" class="btn">Register</button>
              <a href="{{ url_for('signin') }}">I already am a member! Sign In</a>
              </form>
          {% endblock %}
